@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600;800&display=swap');

html,
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 18px;
}

a {
  padding: 20px;
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

button {
  display: inline-block;
  left: 520px;
  height: 20px;
  top: 500px;
  width: 150px;
}
