.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Nav */

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.links {
  height: 0;
  overflow: hidden;
}

.links a {
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
}



.cardGame {
  margin: 0;
  height: 500px;
  display: grid;
  grid-template-rows: 7rem, 2rem, 7rem;
  gap: 0.5rem;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
}

.deck {
  position: absolute;
  left: 200px;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: .75rem;
  user-select: none;
}

.card {
  position: absolute;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  border-radius: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: black;
}

.computerDeckCount {
  position: absolute;
  right: 120px;
  top: 300px;
}

.computerDeck {
  position: absolute;
  width: 200px;
  height: 300px;
  right: 100px;
  top: 410px;
}

.playerDeckCount {
  position: absolute;
  left: 120px;
  top: 300px;
}

.playerDeckCover {
  position: absolute;
  width: 330px;
  height: 340px;
  left: 37px;
  top: 390px;
  z-index: 10;
}

.playerDeck {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 100px;
  top: 410px;
}

.player_card_slot {
  position: absolute;
  left: 310px;
  width: 200px;
  height: 300px;
  color: red;
  border-radius: .75rem;
  top: 410px;
}

.playerDeckCoverWar1 {
  position: absolute;
  width: 330px;
  height: 340px;
  left: 285px;
  top: 360px;
  z-index: -7;
}

.playerDeckCoverWar2 {
  position: absolute;
  width: 330px;
  height: 340px;
  left: 285px;
  top: 330px;
  z-index: -8;
}

.playerDeckCoverWar3 {
  position: absolute;
  width: 330px;
  height: 340px;
  left: 285px;
  top: 300px;
  z-index: -9;
}

.playerWarSlot {
  position: absolute;
  left: 350px;
  top: 370px;
  z-index: -10;
}

.computerDeckCoverWar1 {
  position: absolute;
  width: 330px;
  height: 340px;
  right: 280px;
  top: 360px;
  z-index: -7;
}

.computerDeckCoverWar2 {
  position: absolute;
  width: 330px;
  height: 340px;
  right: 280px;
  top: 330px;
  z-index: -8;
}

.computerDeckCoverWar3 {
  position: absolute;
  width: 330px;
  height: 340px;
  right: 280px;
  top: 300px;
  z-index: -9;
}

.computerWarSlot {
  position: absolute;
  right: 550px;
  top: 600px;
  color: white;
  z-index: -10;
}

.computerDeckCover {
  position: absolute;
  width: 330px;
  height: 340px;
  right: 35px;
  top: 390px;
  z-index: 10;
}

.computer_card_slot {
  position: absolute;
  right: 310px;
  width: 200px;
  height: 300px;
  color: white;
  border-radius: .75rem;
  top: 410px;
}



.text {
  display: flex;
  align-items: flex-start;
  width: 200px;
}



.main {
  position: relative;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: red;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-height: 1000px) {
  .grid {
    height: 100%;
    flex-direction: column;
  }
}